.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: inherit;
  border-radius: 5px;
  padding: 2rem;
  padding-top: 3rem;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  position: relative;
  background-color: white;
  width: 38rem;
  height: 45rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 3rem;
}

.form__icon {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #515154;
  font-size: 2.5rem;
  padding: 0.5rem;
  transform: translate(-25%, 25%);
  cursor: pointer;
  transition: all 0.1s linear;
}
.form__icon:hover {
  box-shadow: 0 0 10px 0 #ededed5e;
}

.form__caption {
  color: #7f7c82;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.form__caption--min {
  font-size: 1.5rem;
}

.form__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 6rem;
  color: #515154;
  font-family: Arial, Helvetica, sans-serif;
}

.form__group {
  color: #7f7c82;
}

.form__group-signin {
  margin-top: 8rem;
}

.form__item {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__item label {
  cursor: pointer;
}

.form__item input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #7f7c82;
}

.form__item input:focus {
  border-color: #515154;
}

.form__item--thanks {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.form__item--thanks label {
  cursor: pointer;
}

.form__input {
  margin-top: 0.5rem;
  color: #7f7c82;
}

.form__term {
  color: #7f7c82;
}

.form__term input {
  display: none;
}

.form__term input:checked + .checkbox__label i {
  display: inherit;
}

.form__term .checkbox__label {
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  line-height: 1;
  display: inline-block;
  font-size: 1.4rem;
}

.form__term .checkbox__label::before {
  border: 1px solid #7f7c82;
  position: absolute;
  content: "";
  background-color: #515154;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form__term .checkbox__label a {
  text-decoration: none;
  color: #515154;
  text-align: center;
}

.form__term .checkbox__label p {
  display: inline;
}

.form__term .checkbox__label a:hover {
  color: rgba(191, 162, 219, 0.7);
}

.form__term .checkbox__label i {
  position: absolute;
  left: 0;
  color: white;
  display: none;
}

.form .btn__submit {
  cursor: pointer;
  border: none;
  padding: 1rem 2.5rem;
  background-color: #515154;
  color: white;
  border-radius: inherit;
  margin-top: 2rem;
  box-shadow: 0 2px 5px 0 rgba(127, 124, 130, 0.2);
  transition: 0.1s linear;
}

.form .btn__submit:active {
  transform: translateY(3%);
  box-shadow: 0 1px 0 0 rgba(127, 124, 130, 0.2);
}

.form .btn__submit a {
  color: white;
  text-decoration: none;
}

.form .btn__submit-signin {
  margin-top: 2rem;
}

.form.form-singup {
	height: 65rem
}

.form__already {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.form__already p {
  display: inline-block;
  color: #7f7c82;
}

.form__already a {
  text-decoration: none;
  color: #515154;
}

.form__already a:hover {
  color: rgba(191, 162, 219, 0.7);
}

.btn__home {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  width: 6rem;
  height: 6rem;
  border: 2px solid #7f7c82;
  border-radius: 5rem;
  background-color: #515154;
}

.btn__home:active {
  background-color: rgba(191, 162, 219, 0.6);
}

.btn__home a {
  color: white;
}

@media screen and (max-width: 374px) {
  .form {
    max-width: 30rem;
    max-height: 55rem;
  }
}
@media screen and (max-width: 319px) {
  .form {
    max-width: 26rem;
    max-height: 55rem;
  }
}
@media screen and (max-width: 413px) {
  .form {
    width: 36rem;
    height: 57rem;
  }
}

/*# sourceMappingURL=login.css.map */